@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>@Model.ProductName</h1>
    <h2>@Model.ProductDescription</h2>
    <hr />
    <h3>Price: @Model.ProductPrice $</h3>
    <h3>
        @if(Model.ProductInStock)
        {
            <span class="label label-success">Available</span>
        }
        else
        {
            <span class="label label-danger">Out of stock</span>
        }
    </h3>
    <hr />
    <h4>Product #@Model.ProductId</h4>
</div>
