@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Available products</h1>

    <ul>
        @foreach (var item in Model)
        {
            <li><h3><a href="/products/details/@item">Product #@item</a></h3></li>
        }
    </ul>
</div>
